/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.copyright {
	float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.necklace {
	float: left;
	border: 5px solid #333;
}

.press-link {
	border: 5px solid #333;
	overflow: hidden;
}

.press-link-box {
	float: left;
	width: 23.5%;
	margin-left: 2%;
	display: block;
	margin: 0 auto;
}

.first {
	margin-left: 0%;
}
